.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 5%;
    height: 75px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
}

.right {
    display: flex;
    justify-content: flex-end;

    align-items: center;


    width: 93%;
}

a {
    margin-right: 5%;
}

.contact a {
    margin-right: 2%;
}

.intro {
   display: flex;
   justify-content: flex-end;
   align-items: center;
    margin-top: 40px;
    margin-left: 68px;
}

.display h1 {
    color: #003566;
    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: 700;
}
/* .github .linkedin img{
    width: 40px;
     height: 40px;
}
*/